In [3]:
1+1

2

In [1]:
age = 30
if(age < 20):
    print("adult")
elif(age > 20):
    print("younger")
else:
    print("nothing")

younger

In [4]:
year = int(input("Enter the year"))
if(year%4==0 or year%100==0 and year%400 == 0):
    print("Leap year")
else:
    print("Not a leap year")

Leap year

In [ ]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [16]:
for i in range(2,52,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [1]:
n = 5
sum = 0
count = 1

while(count <= n):
    sum = sum + count
    count= count + 1
print(sum)

15

In [ ]:

#Covert Celsius to Fahrenheit

def convert_temp(temp, unit):
    if unit == "C":
        return temp * 9 / 5 + 32
    elif unit == "F":
        return (temp - 32) * 5/9
    else:
        return None
print(convert_temp(55,'C'))

print(convert_temp(77,'F'))

131.0
25.0

In [18]:
def Pass(Password):
    if len(Password) < 8:
        return False
    if not any(char.islower() for char in Password):
        print("Not a strong password/n Passsword should contains")
    if not any(char.isupper() for char in Password):
        print("Not a strong password")
    if not any(char.isdigit() for char in Password):
        print("Not a strong password")
    else:
        print("Strong Password")
Pass("ADSDSDASDASD")

Not a strong password/n Passsword should contains
Not a strong password

In [15]:
scores = [0, 0, 0]

if not any(scores):
    print("No exams attempted.")

No exams attempted.

In [ ]:
print("Not a strong password")

Not a strong password
Strong Password

In [33]:
def is_strong_password(password):
    """This function checks if the password is strong or not"""
    if len(password)<8:
        return False
    if any(char.isdigit() for char in password):
        return False
    if any(char.islower() for char in password):
        return False
    if any(char.isupper() for char in password):
        return False
    if any(char in '!@#$%^&*()_+' for char in password):
        return False
    return True

## calling the function
print(is_strong_password("WeakPwd"))
print(is_strong_password("Str0ngPwd!"))

False
False

In [ ]:

cart = [
    {'name': 'Apple','price': 5,'quantity': 10 },
    {'name': 'banana','price': 7,'quantity': 5 },
    ]

def calculate_cart(cart):
    total_cost = 0
    for items in cart:
        total_cost += items['price'] * items['quantity']
    return total_cost
        
Ans = calculate_cart(cart)
print(Ans)

85

In [16]:
def greet_user():
    name = input("Enter your name: ")
    print("Hello,", name)

greet_user()

Hello, dvx

In [18]:
def create_cart():
    cart = []
    n = int(input("How many items? "))
    for i in range(n):
        name = input(f"Enter name of item {i+1}: ")
        price = int(input("Enter price: "))
        quantity = int(input("Enter quantity: "))
        cart.append({'name': name, 'price': price, 'quantity': quantity})
    return cart

def calculate_cart(cart):
    total = 0
    for item in cart:
        total += item['price'] * item['quantity']
    return total

cart = create_cart()
print("Total cost:", calculate_cart(cart))

Total cost: 694

In [22]:
def palindrome(S):
    S =S.upper()
    S =S.replace(" ", "")
    return S==S[:: -1]
print(palindrome("A man a plan a canalpanama"))

True

In [31]:
values = [0, "", 5]

if any(values):
    print("aa")

aa

In [44]:
def countdown(n):
    if n == 1:            # base case â€” stop here
        return 1
    else:
        return n + countdown(n - 1)
        
    
ans = countdown(5)
print(ans)

15

In [45]:
def sum(n):
    if n == 1:
        return 1
    else:
        return n + sum(n - 1)
print(sum(6))

21

In [55]:
def fact(x):
    if x == 1:
        return 1
    else:
        return x * fact(x - 1)
n = int(input("Enter the number: "))
print(f"The factorial of {n} is",fact(n))

The factorial of 5 is 120

In [64]:
n = 5
fact = 1
for i in range(1, n + 1):
    fact*= i
print(fact)

120

In [65]:
def fibonacci(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(5))

5

In [71]:
str = input("enter yhe string:")
for letter in set(str):
    str.count(letter)
print()

In [ ]:
addition = lambda a, b: a + b

print(addition(4, 7))

11

In [ ]:
numbers = [1,2,3,4,5]
list(map(lambda x:x ** 2, numbers))

[1, 4, 9, 16, 25]

In [1]:
numbers = [1,2,3,4,5,6,7,8,9]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
numbers1=[1,2,3,4,5]
numbers2=[6,7,8,9,0]

added_numbers=list(map(lambda x,y: x + y,numbers1, numbers2))
print(added_numbers)

[7, 9, 11, 13, 5]

In [4]:
def even(num):
    if num % 2 == 0:
        return True
    
lst = [1,2,3,4,5,6,7,8,9,10]
list(filter(even,lst))

[2, 4, 6, 8, 10]

In [ ]:
dataset = [
    {'name': 'Akshay', 'Age':34},
    {'name': 'Kumar', 'Age':25},
    {'name': 'balaji', 'Age':45},
]

def output(person):
    return person['Age'] > 25


list(filter(output,dataset))

[{'name': 'Akshay', 'Age': 34}, {'name': 'balaji', 'Age': 45}]

In [ ]:


numbers = [1,2,3,4,5,6,7,8,9]
list(map(lambda x: x*x,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def square(num):
    return num * num
numbers = [1,2,3,4,5,6,7,8,9]
list(map(square,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
n = int(input("Enter the number:"))
total = 0
for i in range(1, n+1):
    total+=i
print(total)

15

In [11]:
# ans = (input("Enter the numbers:"))
lst = [4,5,6,7]

result = lst[::-1]
print(result)

[7, 6, 5, 4]

In [5]:
num = int(input("Enter the number: "))
rev = 0

while num > 0:
    rev = rev * 10 + num % 10
    num //= 10

print("Reversed (as int):", rev)

Reversed (as int): 3121

In [3]:
lst = [1,2,3,4,5]
to = 0
for num in lst:
    to+= num
print(to)

15

In [4]:
lst = [1,2,3,4,5]
print(sum(lst))

15

In [14]:
lst = [1,2,3,4,5]
print(reversed(lst))

<list_reverseiterator object at 0x000002B1FC75E710>

In [2]:
lt = [1,2,3,4,5]
ans = list(map(lambda a: a ** 2,lt))
print(ans)

[1, 4, 9, 16, 25]

In [15]:


n = 1
total = 0

while n <=5:
    total+=n
    n+=1
    
    
print(total)

15

In [10]:
n = 5
total = 0
count =  1
for i in range(1, n+1):
    total+=i
    count+=1
print(total)

15

In [17]:
n = 5
fact = 1
for i in range(1, n+1):
    fact*=i
    print(fact)

1
2
6
24
120

In [23]:
n = 5
for i in range(1, n+1):
    for space in range(n-i):
        print(" ", end=' ')
    for star in range(2 * i - 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
for num in range(2, 101):
    for j in range(2, num):
        if num % j == 0:
            break
    else:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [1]:
import datetime as dt

In [3]:
dt.datetime.now()
dt