In [2]:
a= 2
b= 3
if (a<b):
    print("Hai")
print("bye")

Hai
bye

In [11]:
name = "Akshay"
Name = "kumar"
name == Name

False

In [16]:
age = "33"
name = "Akshay"
type(str(age))

str

In [18]:
age = int(input("what s my age"))
print(type(age))

<class 'int'>

In [21]:
num_1 = int(input("Enter the number"))
num_2 = int(input("Enter the number"))

add = num_1 + num_2
sub = num_2 + num_2

print(add)
print(sub)

21
20

In [1]:
##Functions in Python
#syntax

def function_name(Parameter):
    """Docstring"""
    #Function body
    return expression

In [5]:
def even_or_odd(num):
    if num % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")
even_or_odd(25)

Number is odd

In [19]:
row = 5
Asc = 65
for i in range(row):
    for j in range(i + 1):
        new = chr(Asc)
        print(new, end=" ")
        Asc += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [17]:
row = 5
for i in range(1, row + 1):
    for space in range(row - i):
        print(" ", end=" ")
    for star in range(2 * i - 1):
        print("*", end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [28]:
row = 5
for i in range(row):
    for space in range(i):
        print(" ",end=" ")
    for star in range(2 * (row - i)- 1):
        print("*", end=" ")
    print()

* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [29]:
def greet(name):
    print("Hi", name)
greet("Akshay")

Hi Akshay

In [7]:
###positional arguments (*)
def result(*Akshay):
    for i in Akshay:
        print(i)
result(1,2,3,4,5,6,"Akshay")

1
2
3
4
5
6
Akshay

In [38]:
##Keyword arguments

def results(**Kwargs):
    for key, values in Kwargs.items():
        print(f"{key}: {values}")
results(name= "akshay", age = "23")

name: akshay
age: 23

In [3]:
def multiply(a, b):
    return a * b
ans = multiply(b = 2, a = 4)
print(ans)

8

In [5]:
def multiply(a, b):
    print(a * b)
ans = multiply(2,8)

16

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
first_num,*second_num,last_num = a

print(first_num)
print(second_num)
print(last_num)

1
[2, 3, 4, 5, 6, 7, 8]
9

In [ ]:
#recursive call.....calling a function itself
def fact(x):
    if x == 1:
        return 1
    else:
        return x * fact(x-1)
fact(5)

120

In [10]:
def student_report(name, *marks, **details):
    print("Name:", name)
    print("Marks:", marks)
    print("Extra Info:", details)

student_report("Akshay", 90, 85, 95, age=21, grade="A")

Name: Akshay
Marks: (90, 85, 95)
Extra Info: {'age': 21, 'grade': 'A'}

In [12]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\dell\onedrive\desktop\data analyst course\python\new folder\venv\lib\site-packages (2.3.1)

In [16]:
lst = [1,2,3,4,5,6,7,8,9,10]
data = []
for i in lst:
    if i > 5:
        data.append(i)
print(data)

[6, 7, 8, 9, 10]

In [24]:
import math
math.sqrt(int(64))

8.0

In [5]:
row = 5
for i in range(1, row+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [18]:
row = 5
asc = 65
for i in range(1, row+1):
    for space in range(row-i):
        print(" ", end=" ")
    for k in range((2 * i )- 1):
        new = chr(asc)
        asc+= 1
        print(new, end=' ')
    print()

        A
      B C D
    E F G H I
  J K L M N O P
Q R S T U V W X Y