1. Up sampling
2. Down Sampling

In [3]:
import numpy as np
import pandas as pd

np.random.seed(0)
n_samples = 1000
class_ratio = 0.9
n_class_0 = int(n_samples * class_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0, n_class_1

(900, 100)

In [28]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [29]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [30]:
df.tail()

     feature_1  feature_2  target
995   3.784578   1.595638       1
996   0.893427   2.848549       1
997   2.889923   3.010542       1
998   3.199100   3.016763       1
999   2.353745   1.656026       1

In [31]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64